---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main id="main-content">
    <section id="hero">
      <h1>Hello there</h1>
      <img
        src="https://static.wikia.nocookie.net/starwars/images/2/2a/He-says-the-thing.png"
        alt="General Kenobi"
      />
    </section>
  </main>
</Layout>
